.btn-donate
{
    border-radius: 5px;
    display:block;
    height: 40px;
    text-align: center;
    width: 150px;
    padding:9px;
    color: #fff;
    margin-bottom:35px;
}
.btn-bk
{
    background-color: #D81673;
}
.btn-bk:hover
{
    background-color: #EF358E;
}

.btn-rk
{
    background-color: #8c3494;
}
.btn-rk:hover
{
    background-color: #a743b5;
}

.btn-ng
{
    background-color: #ea1c25;
}
.btn-ng:hover
{
    background-color: #f4515e;
}

.btn-bt
{
    background-color: #2b7b8e;
}
.btn-bt:hover
{
    background-color: #3490a5;
}
.btn-pp
{
    background-color: #294baa;
}
.btn-pp:hover
{
    background-color: #3359c4;
}

.dheading{
    font-size: 29px;
    margin-bottom: 40px;
    margin-top:100px;
}

.video{
    position:relative;
    left:110px;
    margin-bottom:40px;
    margin-top: 10px;
}
.into{
    text-align:center;
    position:relative;
    padding-left:50px;
    padding-right:50px;
}
.lab{
    position:relative;
    padding-left:400px;
    display:inline-block;
    padding-bottom:40px;
}
.capt{
    font-family:fantasy;
    
    position:relative;
    
}
