.trns{
    transition: background-color .7s;
    transition-timing-function:linear;
}

.trns:hover{
    width:352px;
    height:660px;
}
.card-body{
    transition: background-color .7s;
    transition-timing-function:linear;
}
.card-header{
    transition: background-color .7s;
    transition-timing-function:linear;
}



.card-body:hover{
    background-color:#e8e8e8;
}
.card-header:hover{
    background-color:#e8e8e8;
}
