.pos1{
    position:relative;
    right:80px;
}
.pos3{
    position:relative;
    left:80px;
}
.fnt{
    font-family:"Montserrat",sans-serif;
     font-weight:400;
}
p{
  font-family: "Montserrat",sans-serif;
    font-weight:400;
}
.bg{
    background-color:#e0e2e2;
}
.sptxt{
    font-size: 70px;
    color:black ;
    font-family: "montserrat",sans-serif ;
    text-shadow: 3px 3px #838383;
}

.spnsrhd{
    font-size:80px;
    font-family:al;
    padding-top:70px;
    
}
.btni{
   border-radius: 20px;
    display:block;
    height: 40px;
    text-align: center;
    width: 150px;
    padding:9px;
    color: #fff;
    margin-bottom:35px;
    position:relative;
    left:689px;
    cursor:pointer;
    box-shadow: 0 0 10px rgba(0 ,0 , 0, 0.1 );
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
    
}
.btn-p
{
    background-color: #3f4ebc;
}
.btn-p:hover
{
    background-color: #5262d8;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    
}

.btns
{
    background-color: black;
}
.btns:hover
{
    transition-timing-function:linear;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.btn{
    border-radius:20px;
    color:#fff;
}


