line-height: 1.15;
-webkit-tap-highlight-color: rgba(0,0,0,0);
text-align: left;
font-family: 'Gotham Narrow SSm A', 'Gotham Narrow SSm B', Arial, 'Helvetica Neue', Helvetica, sans-serif;
font-style: normal;
font-weight: 400;
color: #fff;
font-size: 1rem;
-webkit-font-smoothing: antialiased;
box-sizing: border-box;
display: block;
opacity: 1;
position: relative;
height: 50px;
transition: opacity .4s ease;
width: calc(100% - 201px);
line-height: 1.15;
-webkit-tap-highlight-color: rgba(0,0,0,0);
text-align: left;
font-family: 'Gotham Narrow SSm A', 'Gotham Narrow SSm B', Arial, 'Helvetica Neue', Helvetica, sans-serif;
font-style: normal;
font-weight: 400;
color: #fff;
font-size: 1rem;
-webkit-font-smoothing: antialiased;
box-sizing: border-box;
display: block;
position: fixed;
z-index: 100;
top: 0;
width: 100%;
line-height: 1.15;
-webkit-tap-highlight-color: rgba(0,0,0,0);
font-family: 'Gotham Narrow SSm A', 'Gotham Narrow SSm B', Arial, 'Helvetica Neue', Helvetica, sans-serif;
font-style: normal;
font-weight: 400;
color: #fff;
font-size: 1rem;
-webkit-font-smoothing: antialiased;
box-sizing: border-box;
line-height: 1.15;
-webkit-tap-highlight-color: rgba(0,0,0,0);
text-align: left;
font-family: 'Gotham Narrow SSm A', 'Gotham Narrow SSm B', Arial, 'Helvetica Neue', Helvetica, sans-serif;
font-style: normal;
font-weight: 400;
color: #fff;
font-size: 1rem;
-webkit-font-smoothing: antialiased;
box-sizing: border-box;
display: block;
opacity: 1;
position: fixed;
z-index: 2;
top: 0;
height: 100%;
width: 100%;