.img-responsive{
  height: 190px;
    width: 240px;
    border-radius: 0%;
    
}

 .imagebg{
     background: rgba(0,0,0,0.5);
     position: absolute;
     padding:10px; 
}

.memberbg{
    background-color:;
    padding: 10px;
}

.pos{
    padding-left:40px;
}
.btni{
   border-radius: 20px;
    display:block;
    height: 40px;
    text-align: center;
    width: 150px;
    padding:9px;
    color: #fff;
    margin-bottom:35px;
    position:relative;
    left:37px;
    cursor:pointer;
    box-shadow: 0 0 10px rgba(0 ,0 , 0, 0.1 );
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
    
}

.btn-p
{
    background-color: #3f4ebc;
}
.btn-p:hover
{
    background-color: #6179f2;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    color:white;
    
}
.menu{
    text-align:center;
    font-family:"Montserrat",sans-serif;
    padding-bottom:40px;
    padding-top:50px;
}
.submenu{
    padding-top:50px;
}
h2{
    font-weight:400;
}